﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12" style="background:#ffffcc;  border-radius: 25px;  box-shadow: 10px 10px 5px #888888; height:300px; margin-top:3%">
        <div class="col-md-6">
            <h1>#OMDBTrailers</h1>
            <div class="col-md-10">
                <h3>Watch for free your trailers and IMDB ratings!</h3>
                <p><h5>Use the search engine with smart searches and share the trailer on facebook!</h5></p>
            </div>
            <div class="col-md-3 col-md-offset-3" style="margin-top:4%">
                <button class="btn btn-lg btn-primary"  type="button" onclick="location.href='@Url.Action("Search", "Home")'">Search Now</button>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2"><img class="img-responsive" src="~/img/yellow-ticket.png" style="height:300px"></div>
    </div>
</div>
