﻿@model TrailerOMDBMVC.Models.Movie




<div class="panel panel-info" style="margin-top:3%">
    <div class="panel-heading"><strong>Search Engine</strong></div>
    <div class="panel-body">
        <div class="col-md-12" id="result" style="margin-top:1%">
            <form asp-controller="Home" asp-action="Search" method="post">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3" id="result">
                        <div class="input-group">
                            @Html.TextBox("MovieIn", null, new { @id = "term", @type = "text", @class = "form-control", @placeholder = "Search your movie here", @style = "max-width:470px", @autocomplete = "off" })
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Submit</button>
                            </span>
                        </div>
                        <div id="smartsearch" style="border:lightgray 1px solid; display:none; z-index:1; position:absolute; width:95%"></div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


@if (!Model.Empty)
{

    @section JavaScript{
        <script type="text/javascript">
            $(document).ready(function () {
                autocompleteEngine();
                drawSearchEngine();
            })


           
            //This function its responsible for getting 4 results from OMDB API and constructing
            //the autocomplete engine
            function autocompleteEngine() {
                var maxResults = 4;
                $("#term").keyup(function () {
                    var _input = $("#term").val();
                    $.ajax({
                        url: "http://www.omdbapi.com/?s=" + _input,
                        success: function (response) {
                            $("#container").parent().empty();
                            $("#container").remove();
                                $.each(response.Search, function (key, msg) {

                                    if (msg.Title != null && msg.Poster != null && key < maxResults) {

                                        $("#smartsearch").css("display", "block");
                                        $("#smartsearch").append('<div id="container"><div id="sugestions' + msg.imdbID + '" class="media" style="background-color: azure;" onclick=clicksearch("' + msg.imdbID + '")><div class="media-left pull-left">' +
                                                                    '<img class="media-object" height="100" width="100" src=' + msg.Poster + '/>' +
                                                                 '</div>' +
                                                                 '<div class="media-body" style="line-height:2px"><h4>Title: ' + '<span id="title2">' + msg.Title + '</span> (' + msg.Year + ')</h4></br>' +
                                                                 '</div></div></div>');
                                    }

                                    if (response.Response == "False") {
                                        $("#container").empty();
                                        $("#container").remove();

                                    }
                                })

                        }
                    });

                })};

            function clicksearch(id) {
                var _title = $("#sugestions" + id).find("#title2").text();
                $("#term").val(_title);
                $("form").submit();

            }


            // Jquery function to create the Search Engine Form
            function drawSearchEngine() {

                $("#result").append('<div class="row">' +
                                        '<div class="col-md-8" style="margin-top:1%">' +
                                            '<iframe class="col-md-12" height="480" src=@("https://www.youtube.com/embed/" + Model.YoutubeID) frameborder="0" allowfullscreen></iframe>' +
                                        '</div>' +
                                        "<div class='col-md-4' style='margin-top:1%'>" +
                                            "<div class='col-md-6'>" +
                                                "<img src=@(Model.Poster) class='img-responsive'/>" +
                                            "</div>" +
                                            "<div class='col-md-6'>" +
                                                '<h4><span class="label label-info" style="text-overflow:ellipsis">Title: @Model.Title </span></h4>' +
                                                '<h4><span class="label label-info">Year: @Model.Year </span></h4>' +
                                                '<h4><span class="label label-info">Type: @Model.Type </span></h4>' +
                                                '<h4><span class="label label-info">IMDB Rating: @Model.IMDBRating </span></h4>' +
                                                '<div class="fb-share-button" data-href="@("https://www.youtube.com/embed/" + Model.YoutubeID)" data-layout="button"></div>' +
                                            "</div>" +
                                            '<div class="col-md-12" style="display:inline-block;margin-top:10%;max-height: 239px;overflow:scroll">' +
                                                '<label for="Plot">Plot: </lable>' +
                                                "<h5>@Model.Plot</h5>" +
                                            '</div>' +
                                        "</div>" +
                                    "</div>"
                    );

            };
        </script>
    }
}
else
{
    @section JavaScript{
        <script type="text/javascript">
            $(document).ready(function () {
                autocompleteEngine();
            })

            //This function its responsible for getting 4 results from OMDB API and constructing
            //the autocomplete engine
            function autocompleteEngine() {
                var maxResults = 4;
                $("#term").keyup(function () {
                    var _input = $("#term").val();
                    $.ajax({
                        url: "http://www.omdbapi.com/?s=" + _input,
                        success: function (response) {
                            $("#container").parent().empty();
                            $("#container").remove();
                            $.each(response.Search, function (key, msg) {

                                if (msg.Title != null && msg.Poster != null && key < maxResults) {

                                    $("#smartsearch").css("display", "block");
                                    $("#smartsearch").append('<div id="container"><div id="sugestions' + msg.imdbID + '" class="media" style="background-color: azure;" onclick=clicksearch("' + msg.imdbID + '")><div class="media-left pull-left">' +
                                                                '<img class="media-object" height="100" width="100" src=' + msg.Poster + '/>' +
                                                             '</div>' +
                                                             '<div class="media-body" style="line-height:2px"><h4>Title: ' + '<span id="title2">' + msg.Title + '</span> (' + msg.Year + ')</h4></br>' +
                                                             '</div></div></div>');
                                }

                                if (response.Response == "False") {
                                    $("#container").empty();
                                    $("#container").remove();

                                }
                            })

                        }
                    });

                })};

            function clicksearch(id) {
                var _title = $("#sugestions" + id).find("#title2").text();
                $("#term").val(_title);
                $("form").submit();

            };
                

            

        </script>
    }
}